@-moz-document domain("manjaro.org") {
.logo-overlay-loader {
    display: none;
}

* {
    font-family: serif !important;
}

/*disable annoying animations*/
.landing-page .navbar,
.landing-page .title-container {
    animation-duration: 0.3s;
}
}

